* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #0066b2, #2da8e1);
  padding: 10px 0 !important;
}

.navbar-brand {
  height: 50px;
  padding-left: 20px;
}
.navbar-brand img {
  height: 40px;
}
/* let the ul be at the right most position */
#navbarNav ul {
  margin-left: auto;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 500;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #fff !important;
  font-size: 30px;
}
/* banner */
#banner {
  background-image: linear-gradient(to right, #0066b2, #2da8e1);
  padding-top: 5%;
  color: #fff;
}
#title-name {
  padding: 0px 20px;
  background-color: #003258;
  font-size: 40px;
  font-weight: 600;
  margin-top: 90px;
}

#banner a {
  color: #fff;
  margin: 25px;
  text-decoration: none;
}
.bottom-img {
  width: 100%;
}
/* projects section */
#projects {
  background: #000;
  color: white;
  padding-top: 80px;
  padding-bottom: 40px;
}
.row {
  row-gap: 5%;
  align-items: baseline;
}
/* fixing the img */
#projects .row img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#projects h4 {
  margin-top: 40px;
  padding: 5px;
  text-transform: uppercase;
}
.projects-catalogue {
  padding: 50px;
  margin: 50px;
}
/* tech stack animation */
.tech-stack {
  overflow: hidden;
}
.tech-stack-item {
  transform: translateX(100vw);
  animation: slideIn 1s ease-out forwards;
}
/* delaying the animation for each child */
.tech-stack-item:nth-child(1) {
  animation-delay: 0.5s;
}
.tech-stack-item:nth-child(2) {
  animation-delay: 0.5s;
}
.tech-stack-item:nth-child(3) {
  animation-delay: 0.5s;
}
/* animation keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
/* tech-stack-two animation */
.tech-stack-two {
  overflow: hidden;
}
.tech-stack-two-item {
  transform: translateX(-100vw);
  animation: newSlideIn 1s ease-out forwards;
}
.tech-stack-item:nth-child(1) {
  animation-delay: 0.5s;
}
.tech-stack-item:nth-child(2) {
  animation-delay: 0.5s;
}
.tech-stack-item:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes newSlideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
/* tech stack animation */
.title::before {
  content: "";
  background-color: rgb(235, 19, 235);
  height: 5px;
  width: 300px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background-color: rgb(235, 19, 235);
  height: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: block;
  transform: translateY(7px);
}

/* about us */
#about-us {
  background-color: #f8f9fa;
  padding: 50px 0px;
}
.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
.about-img {
  margin-top: 8%;
}
.about-us ul li {
  padding: 10px;
}
/* ----------testimonials-------------- */
#testimonial {
  margin: 100px 0;
}
.testimonial {
  margin-top: 50px;
  border-left: 4px solid blueviolet;
}
.testimonial img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border-radius: 50%;
}
.user-details {
  display: inline-block;
  font-size: 12px;
}
/* ----------- social-media ----------- */
#social-media {
  background: #f8f9fa;
  padding: 100px 0px;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  width: 100px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
/* footer section */

#footer {
  background-image: linear-gradient(to right, #0066b2, #2da8e1);
  color: white;
}
.footer-img {
  width: 100%;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 6px;
  border-radius: 2px;

  background-image: linear-gradient(to right, #003258, #2da8e1);
}
.footer-box .form-control {
  box-shadow: none !important;
  border-radius: none;
  border: 0px;
  max-width: 250px;
  margin-top: 25px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border-radius: none;
  border: 0px;
  margin-top: 25px;
  background-image: linear-gradient(to right, #003258, #2da8e1);
}
.copyright {
  margin-bottom: 0px;
  padding-bottom: 20px;
}
